
body {
    background-color: rgb(255, 224, 113);
}

header {
    color: white;
    text-align: center;
    font-size: 30px;
    background-color: rgb(255, 119, 0);
    border: 20px;
    font-weight: bold;
    padding: 15px;
}
h1 {
    font-size: 50px;
    padding-left: 40px;
    color: rgb(50, 10, 5);
    padding-bottom: 10px;
    border: 5px solid rgb(233, 225, 0);
    width: 725px;
    height: 50px;
     background-color: antiquewhite;
}
.p1 {
    font-size: 25px;
    padding-bottom: 10px;
    border: 5px solid rgb(239, 123, 14);
    background-color: antiquewhite;
    width: 800px;
    padding: 40px;
   
    
}
.p2 {
    font-size: 25px;
    border: 5px solid rgb(252, 85, 38);
    background-color: antiquewhite;
    width: 1200px;
    padding: 40px;
}

img {
    border: 5px solid rgba(255, 208, 40, 0.802);
}
